/*头部*/
.row:nth-child(1){background-color:#F7FFFF;display: flex;}
.row:nth-child(1)>div:nth-child(1){padding-bottom:13px;flex-grow: 1;box-sizing: border-box;width: 200px;text-align: center;font-size: 25px;padding-top: 15px;}
.row:nth-child(1)>div:nth-child(2){padding-bottom:13px;flex-grow: 3;box-sizing: border-box;width: 600px;}
/*主体*/
.container-fluid{position: relative;z-index: 0;}
.row:nth-child(2){height: 645px;}
.row:nth-child(2)>div:nth-child(1)>ul{list-style-type: none;box-sizing: border-box;padding-top: 10px;}
.row:nth-child(2)>div:nth-child(1)>ul li{display: inline-block;text-align: center;font-size: 17px;margin-right: 30px;}
.row:nth-child(2)>div:nth-child(1)>ul li span:nth-child(1){margin-right: 5px;font-size: 19px;}
.row:nth-child(2)>div:nth-child(3)>ul{list-style-type: none;box-sizing: border-box;padding-top: 10px;}
.row:nth-child(2)>div:nth-child(3)>ul li{display: inline-block;text-align: center;font-size: 17px;margin-right: 30px;}
.row:nth-child(2)>div:nth-child(3)>ul li span:nth-child(1){margin-right: 5px;font-size: 19px;}
.dropdown-menu>li>a{font-size: 13px;}
.btn{padding: 2px;}

#addcar{ width: 1100px;height:600px;background-color: #DEDEDE;}
#addcar label{width: 110px;text-align: right;padding-right: 10px;}
#addcar input{width:110px;}
#setting{display: none; width: 600px;height: 600px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 30%;background-color: #DEDEDE;}
#setting ul{list-style-type: none;}
#setting ul li{display: inline-block;text-align: center;font-size: 17px;}
#setting td{border: 1px solid white;}
#checkstaff{display: none; width: 900px;height: 600px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 20%;background-color: #DEDEDE;}
#checkstaff label{width: 110px;text-align: right;padding-right: 10px;}
#checkstaff input{width:110px;}

/*尾部*/
.row:nth-child(3){height: 40px;}
/*模态框*/
#myModal .modal-content{ width: 1033px; height: 550px; }
@media (min-width: 768px){ .modal-dialog { width: 1200px; margin: 30px auto; } }

#myChePaiHao button{
	width: 50px;
	margin-bottom: 5px;
}
