/*头部*/
.row:nth-child(1){background-color:#F7FFFF;display: flex;}
.row:nth-child(1)>div:nth-child(1){padding-bottom:13px;flex-grow: 1;box-sizing: border-box;width: 200px;text-align: center;font-size: 25px;padding-top: 15px;}
.row:nth-child(1)>div:nth-child(2){padding-bottom:13px;flex-grow: 3;box-sizing: border-box;width: 600px;}
/*主体*/
.container-fluid{position: relative;z-index: 0;}
.row:nth-child(2){height: 645px;}
.row:nth-child(2)>div:nth-child(1)>ul{list-style-type: none;box-sizing: border-box;padding-top: 10px;}
.row:nth-child(2)>div:nth-child(1)>ul li{display: inline-block;text-align: center;font-size: 17px;margin-right: 30px;}
.row:nth-child(2)>div:nth-child(1)>ul li span:nth-child(1){margin-right: 5px;font-size: 19px;}
/*.row:nth-child(2)>div:nth-child(3)>ul{list-style-type: none;box-sizing: border-box;padding-top: 10px;}*/
#lists li{display: inline-block;text-align: center;font-size: 17px;margin-right: 30px;}
/*.row:nth-child(2)>div:nth-child(3)>ul li span:nth-child(1){margin-right: 5px;font-size: 19px;}*/
.dropdown-menu>li>a{font-size: 13px;}
.btn{padding: 2px;}
#addcusandcar{display: none; width: 1000px;height: 650px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 20%;background-color: #DEDEDE;}
#addcusandcar label{width: 100px;text-align: right;padding-right: 10px;}
#addcusandcar input{width:110px;}
#addcus{display: none; width: 1000px;height: 500px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 20%;background-color: #DEDEDE;}
#addcus label{width: 100px;text-align: right;padding-right: 10px;}
#addcus input{width:110px;}
#addcar{display: none; width: 1000px;height: 500px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 20%;background-color: #DEDEDE;}
#addcar label{width: 100px;text-align: right;padding-right: 10px;}
#addcar input{width:110px;}
#setting{display: none; width: 600px;height: 600px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 30%;background-color: #DEDEDE;}
#setting ul{list-style-type: none;}
#setting ul li{display: inline-block;text-align: center;font-size: 17px;}
#setting td{border: 1px solid white;}
#checkstaff{display: none; width: 900px;height: 500px;position: absolute;z-index: 111;border: 1px solid #DEDEDE;top: 7%;left: 20%;background-color: #DEDEDE;}
#checkstaff label{width: 100px;text-align: right;padding-right: 10px;}
#checkstaff input{width:110px;}
/*尾部*/
.row:nth-child(3){height: 40px;}

/*头部隐藏功能按钮*/
#customer,#carinfo{
	list-style: none;
	margin: 5px 0px 5px 790px;

}
#customer li,#carinfo li{
	display: inline-block;
	margin-right: 40px;
}
#customer a,#carinfo a{
	text-decoration: none;
	color: white;
}
/*增加模态框*/
@media (min-width: 768px){
	.modal-dialog {
    width: 990px;
    margin: 30px auto;
	}
}
@media (min-width: 768px){
	#myModalCar .modal-dialog {
    width: 1035px;
    margin: 30px auto;
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}