/*头部*/
.row:nth-child(1){background-color:#F7FFFF;display: flex;}
.row:nth-child(1)>div:nth-child(1){padding-bottom:13px;flex-grow: 1;box-sizing: border-box;width: 200px;text-align: center;font-size: 25px;padding-top: 15px;}
.row:nth-child(1)>div:nth-child(2){padding-bottom:13px;flex-grow: 3;box-sizing: border-box;width: 600px;}
/*主体*/
.row:nth-child(2){height: 635px;}
.row:nth-child(2)>div:nth-child(1)>ul{list-style-type: none;box-sizing: border-box;padding-top: 10px;float: right;}
.row:nth-child(2) ul li{display: inline-block;text-align: center;font-size: 17px;margin-right: 30px;}
.row:nth-child(2) ul li span:nth-child(1){margin-right: 5px;font-size: 19px;}
.row:nth-child(2)>div:nth-child(3){height: 588px;overflow: auto;border:0px;}
/*尾部*/
.row:nth-child(3){height: 50px;}
