<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.BanzuMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Banzu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gn" property="gn" jdbcType="VARCHAR" />
    <result column="banzuid" property="banzuid" jdbcType="VARCHAR" />
    <result column="remerk1" property="remerk1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, gn, banzuid, remerk1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.BanzuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from banzu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from banzu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from banzu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.BanzuExample" >
    delete from banzu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Banzu" >
    insert into banzu (id, name, gn, 
      banzuid, remerk1)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gn,jdbcType=VARCHAR}, 
      #{banzuid,jdbcType=VARCHAR}, #{remerk1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Banzu" >
    insert into banzu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gn != null" >
        gn,
      </if>
      <if test="banzuid != null" >
        banzuid,
      </if>
      <if test="remerk1 != null" >
        remerk1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gn != null" >
        #{gn,jdbcType=VARCHAR},
      </if>
      <if test="banzuid != null" >
        #{banzuid,jdbcType=VARCHAR},
      </if>
      <if test="remerk1 != null" >
        #{remerk1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.BanzuExample" resultType="java.lang.Integer" >
    select count(*) from banzu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update banzu
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gn != null" >
        gn = #{record.gn,jdbcType=VARCHAR},
      </if>
      <if test="record.banzuid != null" >
        banzuid = #{record.banzuid,jdbcType=VARCHAR},
      </if>
      <if test="record.remerk1 != null" >
        remerk1 = #{record.remerk1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update banzu
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      gn = #{record.gn,jdbcType=VARCHAR},
      banzuid = #{record.banzuid,jdbcType=VARCHAR},
      remerk1 = #{record.remerk1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Banzu" >
    update banzu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gn != null" >
        gn = #{gn,jdbcType=VARCHAR},
      </if>
      <if test="banzuid != null" >
        banzuid = #{banzuid,jdbcType=VARCHAR},
      </if>
      <if test="remerk1 != null" >
        remerk1 = #{remerk1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Banzu" >
    update banzu
    set name = #{name,jdbcType=VARCHAR},
      gn = #{gn,jdbcType=VARCHAR},
      banzuid = #{banzuid,jdbcType=VARCHAR},
      remerk1 = #{remerk1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="chabanzu" resultMap="BaseResultMap">
  SELECT * FROM `banzu` WHERE banzuid=#{banzuid}
  </select>
  
  <select id="mulu" resultMap="BaseResultMap">
  SELECT * FROM `banzu` WHERE gn='0'
  </select>
</mapper>