<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.MaintainBillMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.MaintainBill" >
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="mbname" property="mbname" jdbcType="VARCHAR" />
    <result column="factorymeil" property="factorymeil" jdbcType="REAL" />
    <result column="factoryoil" property="factoryoil" jdbcType="REAL" />
    <result column="mileage" property="mileage" jdbcType="REAL" />
    <result column="intotime" property="intotime" jdbcType="TIMESTAMP" />
    <result column="lastinto" property="lastinto" jdbcType="TIMESTAMP" />
    <result column="Receptionnote" property="receptionnote" jdbcType="VARCHAR" />
    <result column="statement" property="statement" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bid, mbname, factorymeil, factoryoil, mileage, intotime, lastinto, Receptionnote, 
    statement, remark1, remark2, remark3, remark4, remark5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MaintainBillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintain_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.accp.domain.MaintainBillExample" >
    delete from maintain_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.MaintainBill" >
    insert into maintain_bill (bid, mbname, factorymeil, 
      factoryoil, mileage, intotime, 
      lastinto, Receptionnote, statement, 
      remark1, remark2, remark3, 
      remark4, remark5)
    values (#{bid,jdbcType=VARCHAR}, #{mbname,jdbcType=VARCHAR}, #{factorymeil,jdbcType=REAL}, 
      #{factoryoil,jdbcType=REAL}, #{mileage,jdbcType=REAL}, #{intotime,jdbcType=TIMESTAMP}, 
      #{lastinto,jdbcType=TIMESTAMP}, #{receptionnote,jdbcType=VARCHAR}, #{statement,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, 
      #{remark4,jdbcType=VARCHAR}, #{remark5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.MaintainBill" >
    insert into maintain_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="mbname != null" >
        mbname,
      </if>
      <if test="factorymeil != null" >
        factorymeil,
      </if>
      <if test="factoryoil != null" >
        factoryoil,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="intotime != null" >
        intotime,
      </if>
      <if test="lastinto != null" >
        lastinto,
      </if>
      <if test="receptionnote != null" >
        Receptionnote,
      </if>
      <if test="statement != null" >
        statement,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="mbname != null" >
        #{mbname,jdbcType=VARCHAR},
      </if>
      <if test="factorymeil != null" >
        #{factorymeil,jdbcType=REAL},
      </if>
      <if test="factoryoil != null" >
        #{factoryoil,jdbcType=REAL},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=REAL},
      </if>
      <if test="intotime != null" >
        #{intotime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastinto != null" >
        #{lastinto,jdbcType=TIMESTAMP},
      </if>
      <if test="receptionnote != null" >
        #{receptionnote,jdbcType=VARCHAR},
      </if>
      <if test="statement != null" >
        #{statement,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MaintainBillExample" resultType="java.lang.Integer" >
    select count(*) from maintain_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update maintain_bill
    <set >
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=VARCHAR},
      </if>
      <if test="record.mbname != null" >
        mbname = #{record.mbname,jdbcType=VARCHAR},
      </if>
      <if test="record.factorymeil != null" >
        factorymeil = #{record.factorymeil,jdbcType=REAL},
      </if>
      <if test="record.factoryoil != null" >
        factoryoil = #{record.factoryoil,jdbcType=REAL},
      </if>
      <if test="record.mileage != null" >
        mileage = #{record.mileage,jdbcType=REAL},
      </if>
      <if test="record.intotime != null" >
        intotime = #{record.intotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastinto != null" >
        lastinto = #{record.lastinto,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receptionnote != null" >
        Receptionnote = #{record.receptionnote,jdbcType=VARCHAR},
      </if>
      <if test="record.statement != null" >
        statement = #{record.statement,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null" >
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
      <if test="record.remark3 != null" >
        remark3 = #{record.remark3,jdbcType=VARCHAR},
      </if>
      <if test="record.remark4 != null" >
        remark4 = #{record.remark4,jdbcType=VARCHAR},
      </if>
      <if test="record.remark5 != null" >
        remark5 = #{record.remark5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update maintain_bill
    set bid = #{record.bid,jdbcType=VARCHAR},
      mbname = #{record.mbname,jdbcType=VARCHAR},
      factorymeil = #{record.factorymeil,jdbcType=REAL},
      factoryoil = #{record.factoryoil,jdbcType=REAL},
      mileage = #{record.mileage,jdbcType=REAL},
      intotime = #{record.intotime,jdbcType=TIMESTAMP},
      lastinto = #{record.lastinto,jdbcType=TIMESTAMP},
      Receptionnote = #{record.receptionnote,jdbcType=VARCHAR},
      statement = #{record.statement,jdbcType=VARCHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR},
      remark3 = #{record.remark3,jdbcType=VARCHAR},
      remark4 = #{record.remark4,jdbcType=VARCHAR},
      remark5 = #{record.remark5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>