<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>结算中心</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container-fluid" id="ctx">
			<div class="row" style="background-color: #DFF0D8;">
				<div class="col-xs-4">
					<h2>结算中心</h2>
				</div>
				<div class="col-xs-4 col-xs-offset-4">
					<div style="float: right;margin-top: 20px;">
						<button class="btn btn-success" @click="queryByscreen"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询</button>
						<button class="btn btn-default">关闭</button>
					</div>
				</div>
			</div>
			<div class="row" style="margin: 0px 3px;">
				<div style="margin: 30px 0;padding:5px 5px;background-color:#DFF0D8;border-top: 1px solid #66AFE9;">
					<form action="" class="form-inline">
						<div class="form-group">
							开单日期
							<input type="date" v-model="bill.starttime" class="form-control"/>
							<input type="date" v-model="bill.endtime" class="form-control"/>
							销售单号
							<input type="text" v-model="bill.bid" class="form-control" />
							结算状态
							<select v-model="bill.astate" class="form-control">
								<option value="0" class="form-control">请选择</option>
								<option value="1" class="form-control">未结算</option>
								<option value="2" class="form-control">已结算</option>
							</select>
							
						</div>
					</form>
					<form  class="form-inline">
						<div class="form-group">
							客户名称
							<select v-model="bill.cno" class="form-control">
								<option value="0" class="form-control">请选择</option>
								<option :value="item.cno" v-for="item in customer">{{item.cname}}</option>
							</select>
							服务顾问
							<select v-model="bill.pno" class="form-control">
								<option value="0" class="form-control">请选择</option>
								<option :value="item.personnelid" v-for="item in personel">{{item.personnelname}}</option>
							</select>
							业务类型
							<select v-model="bill.btid" class="form-control">
								<option value="0" class="form-control">请选择</option>
								<option :value="item.id" v-for="item in types" >{{item.billname	}}</option>
							</select>
							单据类型
							<select  class="form-control">
								<option value="0" class="form-control">请选择</option>
								<option value="维修单" class="form-control">维修单</option>
								<option value="救援单" class="form-control">救援单</option>
							</select>
							车牌号
							<input type="text" v-model="bill.cdlicense" class="form-control"/>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div style="float: right;margin-right: 20px;margin-bottom: 10px;">
					<button   class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-calendar"></span>&nbsp;收银</button>
					<button   class="btn btn-default"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;打开单据</button>
				</div>
			</div>
			<div class="row" style="padding: 10px 20px;">
				<table class="table table-bordered">
					<tr style="background-color: #5BC0DE;">
						
						<td>销售单号</td>
						<td>单据类型</td>
						<td>单据状态</td>
						<td>结算状态</td>
						<td>结算时间</td>
						<td>结算人</td>
						<td>结算金额</td>
						<td>业务类型</td>
						<td>客户名称</td>
						<td>车牌号</td>
						<td>车型</td>
						<td>车架号</td>
						<td>开单时间</td>
						<td>联系电话</td>
					</tr>
					<tr v-for="item in bills">
						<td>{{item.bid}}</td>
						<td v-if="item.mbname==null">{{item.rbname}}</td>
						<td v-if="item.rbname==null">{{item.mbname}}</td>
						<td v-if="item.bstate==0">未完工</td>
						<td v-if="item.bstate==1">已完工</td>
						<td v-if="item.astate==1">未结算</td>
						<td v-if="item.astate==2">已结算</td>
						<td>{{item.Clearingtime}}</td>
						<td v-if="item.Clearingtime!=null">{{item.personnelname}}</td>
						<td v-else></td>
						<td>{{item.forecastmoney}}</td>
						<td>{{item.billname}}</td>
						<td>{{item.cname}}</td>
						<td>{{item.cdlicense}}</td>
						<td>{{item.cartype}}</td>
						<td>{{item.cdframe}}</td>
						<td>{{item.ordertime}}</td>
						<td>{{item.cphone}}</td>
					</tr>
				</table>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" data-backdrop="static" data-keyboard="false" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" style="width: 900px;" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="btn btn-default">关闭</span></button>
			        <h3 class="modal-title" id="myModalLabel">前台收银</h3>
			      </div>
			      <div class="modal-body">
			        <div class="row" style="margin: 20px; background-color: #E7E7E7;border: 1px solid #D9EDF7;padding: 10px 30px;">
						<div class="row" style="width: 80%;">
							<table >
							<tr>
								<td>客总费</td>
								<td>税率</td>
								<td>加税金</td>
								<td>抹尾数</td>
								<td>积分抵扣（元）</td>
							</tr>
							<tr>
								<form class="form">
									<div class="form-group">
										<td><input type="text" class="form-control"/></td>
										<td><input type="text" class="form-control"/></td>
										<td><input type="text" class="form-control"/ ></td>
										<td><input type="text" class="form-control"/></td>
										<td><input type="text" class="form-control"/></td>
									</div>
								</form>
							</tr>
						</table>
						</div>
						
						<div class="row">
							<div class="col-xs-6">
								<h4><span style="color: red;">应收金额</span>&nbsp;<span >300</span></h4>
								<div class="col-xs-6 row">
									<span>结算状态</span>
									<select name="" class="form-control" >
										<option value="" class="form-control">正常结算</option>
									</select>
								</div>
							</div>
							<div class="col-xs-6">
								<p>积分最大抵用金额：</p>
								<p>积分最大抵用金额：</p>
								<p>积分最大抵用金额：</p>
							</div>
						</div>
						<div class="row">
							
						</div>
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#ctx",
				data(){
					return{
						personel:[],
						types:[],
						customer:[],
						bills:[],
						bill:{}
					}
				},created:function(){
					var that=this;
					$.ajax({
						url:data.ip+"balance/queryPerson",
						type:"get",
						dataType:"json",
						xhrFields: {
							withCredentials: true
						},
						success:function(result){
							that.personel=result;
							console.log(that.personel)
						}
					})
					$.ajax({
						url:data.ip+"balance/queryAllType",
						type:"get",
						dataType:"json",
						xhrFields: {
							withCredentials: true
						},
						success:function(result){
							that.types=result;
						}
					})
					$.ajax({
						url:data.ip+"balance/queryCust",
						type:"get",
						dataType:"json",
						xhrFields: {
							withCredentials: true
						},
						success:function(result){
							that.customer=result;
						}
					})
					$.ajax({
						url:data.ip+"balance/queryBills",
						type:"get",
						dataType:"json",
						xhrFields: {
							withCredentials: true
						},
						success:function(result){
							console.log(result)
							that.bills=result;
						}
					})
				},methods:{
					queryByscreen(){
						var that=this;
						$.ajax({
							url:data.ip+"balance/findbytj",
							type:"get",
							data:that.bill,
							dataType:"json",
							contentType:"application/json",
							xhrFields: {
								withCredentials: true
							},
							success:function(result){
								that.bills=result;
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
