<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style type="text/css">
			*{
				margin: 0px;
				padding: 0px;
			}
			#ctx{
				border: 0px solid red;
			}
			#mydiv{
				background-color: rgba(205,205,205,0.5);
			}
			#mydiv li{
				list-style: none;
				display: inline-block;
			}
			#mydiv_1{
				background-color: beige;
				font-size: 18px;
			}
			#mydiv_1 li{
				list-style: none;
				display: inline-block;
			}
			#mydiv_4 li{
				list-style: none;
				display: inline-block;
			}
			#mydiv_3{
				border: 0px solid red;
			}
			
			#mydiv_5 ul{
				list-style: none;
			}
			
			#mydiv_1 ul li{
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<div id="ctx" class="container-fluid">
			<div id="mydiv">
				<ul>
					<li><h2>班组技工</h2></li>
					<li style="padding-left: 1000px;"><input type="text" value="匹配工号/姓名/手机"></li>
					<li><button type="button" class="btn btn-warning">搜索</button></li>
					<li><button type="button" class="btn btn-default">关闭</button></li>
				</ul>
			</div>
			<div id="mydiv_1">
				<ul>
					<li><a  class="" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-menu-hamburger"></span>增加员工</a></li>
					<li><a  class="" data-toggle="modal" data-target="#myModalupdate"> <span class="glyphicon glyphicon-edit"></span>修改</a></li>
					<li> <span class="glyphicon glyphicon-remove-circle"></span>删除</li>
					<li> <span class="glyphicon glyphicon-search"></span>查询</li>
					<li> <span class="glyphicon glyphicon-asterisk"></span>置空密码</li>
					<li> <span class="glyphicon glyphicon-globe"></span>班组权重</li>
					<li> <span class="glyphicon glyphicon-log-in"></span>导出</li>
					<li><a  class="" data-toggle="modal" data-target="#myModalbz" id="xzbz"> <span class="glyphicon glyphicon-menu-hamburger"></span>新增班组</a></li>
				</ul>
			</div>
			
			<div id="mydiv_2" class="col-md-2">
				<ul v-for="item in list" >
					<li  style="font-size:17px" @click="chabanzu(item.id)" v-bind:sid="item.id" name="ck">{{item.id}}--{{item.name}}</li>
					<br />
					
								<ul v-for="it in lists" >
									<li v-if="item.id==it.banzuid"><input type="radio" name="cks" v-bind:sid="it.id" @click="banzu"/>{{it.id}}--{{it.name}}</li>
								</ul>
				</ul>
				
			</div>
			
			<div id="mydiv_3" class="col-md-10" style="width:1250px;overflow:auto">
				<table class="table table-bordered" style="width: 2000px;">
					<thead>
						<tr>
							<th>选择</th>
							<th>班组编号</th>
							<th>班组名称</th>
							<th>技工编号</th>
							<th>技工姓名</th>
							<th>性别</th>
							<th>手机</th>
							<th>地址</th>
							<th>出生日期</th>
							<th>组长</th>
							<th>登陆名</th>
							<th>身份证号</th>
							<th>户口地址</th>
							<th>开户银行</th>
							<th>银行账号</th>
							<th>星级</th>
							<th>维修工种</th>
							<th>维修品牌</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="jg in jigong">	
							<td><input type="radio"/></td>
							<td>{{jg.id}}</td>
							<td>{{jg.name}}</td>
							<td>{{jg.workid}}</td>
							<td>{{jg.personnelname}}</td>
							<td>{{jg.sex}}</td>
							<td>{{jg.phone}}</td>
							<td>{{jg.address}}</td>
							<td>{{jg.borndate}}</td>
							<td>{{jg.remark1}}</td>
							<td>{{jg.enterid}}</td>
							<td>{{jg.card}}</td>
							<td>{{jg.address}}</td>
							<td></td>
							<td>{{jg.bankcode}}</td>
							<td>{{jg.stars}}</td>
							<td>{{jg.craft}}</td>
							<td>{{jg.brand}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<!-- 增加 -->
		<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog modal-lg" role="document" >
		    <div class="modal-content"  style="width: 1100px;">
		      <div class="modal-header" id="mydiv_4">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<ul>
					<li><h4 class="modal-title" id="myModalLabel">技工资料</h4></li>
					<li style="padding-left: 700px;  padding-top: 10px;"><button type="button" class="btn btn-success">保存</button></li>
				</ul>
		      </div>
		      <div class="modal-body">
				<div>
					<table>
						<tr>
							<td>技工编号 <input type="text"></td>
							<td>技工姓名 <input type="text"></td>
							<td>
								性别 
								<select>
									<option value="男">男</option>
									<option value="男">女</option>
								</select>
							</td>
							<td><input type="checkbox">组长</td>
						</tr>
						<tr>
							<td>所在班组 <input type="text"></td>
							<td>手机 <input type="text"></td>
							<td>登录账号 <input type="text"></td>
						</tr>
						<tr>
							<td>地址 <input type="text"></td>
							<td>出生日期 <input type="datetime"></td>
							<td>微信号 <input type="text"></td>
						</tr>
						<tr>
							<td>身份证号 <input type="text"></td>
							<td>户口地址 <input type="text"></td>
						</tr>
						<tr>
							<td>
								开户银行
								<select>
									<option value="男">男</option>
									<option value="男">女</option>
								</select>
							</td>
							<td>银行账号 <input type="text"></td>
							<td>
								星级
								<select>
									<option value="男">男</option>
									<option value="男">女</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>维修工种 <input type="text"></td>
						</tr>
						<tr>
							<td>维修品牌 <input type="text"></td>
						</tr>
					</table>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		  
		</div>
		<!--修改-->
		<div class="modal fade bs-example-modal-lg" id="myModalupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog modal-lg" role="document" >
		    <div class="modal-content"  style="width: 1100px;">
		      <div class="modal-header" id="mydiv_5">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<ul>
					<li><h4 class="modal-title" id="myModalLabel1">技工资料</h4></li>
					<li style="padding-left: 800px; "><button type="button" class="btn btn-success">保存</button></li>
				</ul>
		      </div>
		      <div class="modal-body">
				<div>
					<table>
						<tr>
							<td>技工编号 <input type="text"></td>
							<td>技工姓名 <input type="text"></td>
							<td>
								性别 
								<select>
									<option value="男">男</option>
									<option value="男">女</option>
								</select>
							</td>
							<td><input type="checkbox">组长</td>
						</tr>
						<tr>
							<td>所在班组 <input type="text"></td>
							<td>手机 <input type="text"></td>
							<td>登录账号 <input type="text"></td>
						</tr>
						<tr>
							<td>地址 <input type="text"></td>
							<td>出生日期 <input type="datetime"></td>
							<td>微信号 <input type="text"></td>
						</tr>
						<tr>
							<td>身份证号 <input type="text"></td>
							<td>户口地址 <input type="text"></td>
						</tr>
						<tr>
							<td>
								开户银行
								<select>
									<option value="男">男</option>
									<option value="男">女</option>
								</select>
							</td>
							<td>银行账号 <input type="text"></td>
							<td>
								星级
								<select>
									<option value="男">男</option>
									<option value="男">女</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>维修工种 <input type="text"></td>
						</tr>
						<tr>
							<td>维修品牌 <input type="text"></td>
						</tr>
					</table>		
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		  
		</div>
		<!--新增班组-->
		<div class="modal fade " id="myModalbz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog " role="document" >
		    <div class="modal-content"  style="width: 500px;">
		      <div class="modal-header" id="mydiv_6">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				
				<ul>
					<li><h4 class="modal-title" id="myModalLabel2">维修班组</h4></li>
					<li style="padding-left: 200px;  "><button type="button" class="btn btn-success">保存</button></li>
				</ul>
		      </div>
		      <div class="modal-body">
				<div>
					<table class="table table-bordered">
						<tr>
							<td>班组编号<input type="text"></td>		
						</tr>
						<tr>
							<td>班组名称<input type="text"></td>		
						</tr>
						<tr>
							<td>班组权重<input type="text"></td>		
						</tr>
					</table>
				</div>
		      </div>
		      <div class="modal-footer">
		       <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		  
		</div>
	</body>

		<script src="js/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script src="js/jquery.ztree.excheck.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
				var vm=new Vue({
						el:"#ctx",
						data(){
							return { 
								list:[],
								lists:[],
								jigong:{}
							}
						},methods:{
								chabanzu:function(id){
											
											$.ajax({
												url:data.ip + "xiaozu",
												data:{"banzuid":id},
												type:"post",
												dataType:"json",
												success:function(result){
													vm.lists = result;
													console.log(result)
													
														$.ajax({
															url:data.ip + "bzgjselect",
															data:{"remark2":0,"banzuid":id},
															type:"post",
															"success":function(re){
																vm.jigong=re;
																console.log(re);
															}
														});
												}
											});
											
								},banzu:function(){
											
									var ck = $("[name=cks]");
									for(var i =0;i<ck.length;i++){
										if(ck[i].checked){
											var remark2 = $(ck[i]).attr("sid");
											$.ajax({
												url:data.ip + "bzgjselect",
												data:{"remark2":remark2,"banzuid":0},
												type:"post",
												"success":function(re){
													vm.jigong=re;
													console.log(re);
												}
											});
										}
									}
								}
					}
				});
						
					$(function(){
						findPage();
						find();
					})
				
				function findPage(){
							
							$.ajax({
								url:data.ip + "bzszt",
								type:"post",
								"success":function(re){
									vm.list=re;
									console.log(re);
								}
							});
						}
				
				function find(){
							$.ajax({
								url:data.ip + "bzgjselect",
								data:{"remark2":0,"banzuid":0},
								type:"post",
								"success":function(re){
									vm.jigong=re;
									console.log(re);
								}
							});
				}

	</script>
</html>
