<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/font_4aigx4do0lb/iconfont.css" />
		<link rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" type="text/css">
		<style>
			
			#tbss{
				padding: 1em 2em;
				display: flex;
			}
			#dhl a{
				font-size: 15px;
			}
			
		</style>
	</head>
	<body>
		<div class="container-fluid" id="ctx">
			<div class="row" style="border: 1px solid #E6E6E6;">
				<h3 class="col-md-2">岗位定义</h3>
				<div class="col-md-9"></div>
				<div class="col-md-1" id="tbss">
					<button type="button" class="btn btn-default">关闭</button>
				</div>
			</div>
			
			<div id="dhl" class="row">
				<div class="col-md-9">
					<p style="margin-top:25px;">
						岗位编码:<input type="text" v-model="post.postid" class="id"/>&nbsp;&nbsp;&nbsp;
						岗位名称:<input type="text" v-model="post.postname" class="name"/>
					</p>
				</div>
				<ol class="breadcrumb col-md-3">
				  <li @click="add()"><span class="iconfont" style="vertical-align: middle">&#xe62c;</span><a href="#" style="vertical-align: middle">增加</a></li>
				  <li @click="update()"><span class="iconfont" style="vertical-align: middle">&#xe612;</span><a href="#" style="vertical-align: middle">修改</a></li>
				  <li @click="remove()"><span class="iconfont" style="vertical-align: middle">&#xe614;</span><a href="#" style="vertical-align: middle">删除</a></li>
				  <li><span class="iconfont" style="vertical-align: middle">&#xe6a5;</span><a href="#" style="vertical-align: middle">导出</a></li>
				</ol>
				
			</div>
			
			<div class="row" id="tbss" style=" border: 1px solid #E6E6E6;height:780px;">
				
				<table class="table table-hover table-bordered" style="width:800px;">
					 
						<tr>
							
							<td>岗位编码</td>
							<td>岗位名称</td>
						</tr>
						
						<tr v-for="item in page" @click="chak(item.postid)">
							<td>{{item.postid}}</td>
							<td>{{item.postname}}</td>
						</tr>
						
				</table>

			</div>
			
		</div>
		
<script src="js/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
		<script src="js/jquery.ztree.excheck.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		var vm  = new Vue({
			el:"#ctx",
			data:{
				page:[],
				post:{}
			},methods:{
				chak:function(postid){
						$.ajax({
							url:data.ip + "Pselectid",
							data:{"postid":postid},
							type:"post",
							dataType:"json",
							success:function(result){
								console.log(result)
								vm.post = result;
							}
						});
				},
				update:function(){
					var postid=$(".id").val()
				    var postname=$(".name").val()
				    	
					$.ajax({
							url:data.ip + "Postupdate",
							data:{"postid":postid,"postname":postname},
							type:"post",
							dataType:"json",
							success:function(result){
								findPage();
							}
						});
				},
				add:function(){
					var postid=$(".id").val()
				    var postname=$(".name").val()
				    	
					$.ajax({
							url:data.ip + "Postadd",
							data:{"postid":postid,"postname":postname},
							type:"post",
							dataType:"json",
							success:function(result){
								
								findPage();
								
								
							}
						});
				},
				remove:function(){
					var postid=$(".id").val()
				    var postname=$(".name").val()
				    	
					$.ajax({
							url:data.ip + "PostRemove",
							data:{"postid":postid},
							type:"post",
							dataType:"json",
							success:function(result){
								findPage();
							}
						});
				}
			}

		})
		$(function(){
			findPage();

		})
		function findPage(){
			$.ajax({
				url:data.ip + "Pselect",
				type:"post",
				dataType:"json",
				success:function(result){
					console.log(result)
					vm.page = result;
				}
			});
		}
		</script>
	
	</body>
</html>
