<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>新增页面</h3>
	<div id="ctx">
		姓名：<input v-model="student.name">
		年龄：<input v-model="student.age">
		性别：<input v-model="student.sex">
		<button @click="tj()">保存</button>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript">
	
	vm =new Vue({
		el:"#ctx",
		data(){
			return{
				student:{name:"",age:"",sex:""}
			}
		},
		methods:{
			tj:function(){
				var stu=JSON.stringify(vm.student)
				console.log(stu)
				$.ajax({
					url:"add",
					type:"post",
					data:stu,
					contentType:"application/json;charset=utf-8",
					success:function(result){
						location.href="[[@{/info}]]";
					}
				})
			}
		}
	})
</script>
</body>
</html>